/*This Css file is adapted from the file created by Josh Williams of GETeach.com*/
/*I am a meat popsicle */
body, html{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-family: Roboto,Noto,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #DADCE0;
}

p{
    color :#DADCE0;
}

.Qtext{
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    height: 100%;
    color: #DADCE0;
    background-color: #202124;
    overflow-wrap: break-word;
}
.text{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    height: 100%;
    color: #DADCE0;
    background-color: #202124;
    overflow-wrap: break-word;
}
a {
    color: #EF4056;
    font-weight: normal;
    text-decoration: none;
  }
  a:link {
    color: #EF4056;
    font-weight: normal;
    text-decoration: none;
  }
  
  a:visited {
    color: #81D3EB;
    font-weight: normal;
    text-decoration: none;
  }
  
  a:hover {
    color:#81D3EB;
    font-weight: normal;
    text-decoration: none;
  }
  
  a:active {
    color:  #EF4056;
    font-weight: normal;
    text-decoration: none;
  }
html::-webkit-scrollbar {
    width: 16px;
}
html::-webkit-scrollbar-corner {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.24);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 16px;
    transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}
html::-webkit-scrollbar-track {
    box-sizing: border-box;
    background-color: #202124;
    border: 1px solid transparent;
    transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.panelMain{
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 5;
}
.abutton{
    color:rgba(255,255,255,.87);
    height:24px;
    cursor: pointer;
    background-color: #AB0520;
    border-radius: 10px;
    margin-left:2%;
}
.abutton:hover{
    background-color: #EF4056;
    cursor: pointer;
}
#container{
    background-color:#202124;
    color: #DADCE0;
    font-size: 14px;
    position: absolute;
    width: 100%;
    max-width: 480px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.videoContain{
    height:270px;
}
.videoMedia{
    width:100%;
    margin:auto;
}
.mediaIcon{
    position:absolute;
    left:15px;
    top:5px;
}
.mediaContain{
    display: inline-flex;
    width:100%;
    height:320px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    box-shadow: inset 0 0 2000px rgba(218, 220, 224, .5);
}
.image{
    max-width: 100%;
    vertical-align: middle;
    max-height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 320px;
    position: relative;
    margin: auto;
  }
.mySlides{
    width:100%;
    height:320px;

}
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 24px;
    padding: 12px;
    transform: translateY(-50%);
    color: white;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.2px;
    border-radius: 100%;
    background-color: #202124;
    opacity: 0.7;
    user-select: none;
    text-align:center;
    text-decoration: none;
  }
  .prev:hover, .next:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;

  }

  /* Position the "next button" to the right */
  .next {
    right: 12px;
  }

  .prev {
    left: 12px;
  }

  .prev:active, .next:active {
    background-color: #585b62;
    opacity: .8;
    transition: background .1s;
  }

  /* Caption text */
  .captionDiv{
    width: 100%;
    padding: 8px 0px;
    position: absolute;
    bottom: 0px;
    background-color: #202124;
    opacity: 0.7;
  }
  .caption {
    font-family: Roboto,Noto,sans-serif;
    color: #f2f2f2;
    font-size: 12px;
    margin-right:8px;
    text-align: right;
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 5;
    position: relative;  
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {
    .prev, .next,.caption {font-size: 11px}
    .mediaIcon{top:15px;}
  }
  @media only screen and (max-height: 600px) {
    .mediaIcon{top:30px;}
    .mediaContain  {
        width:100%;
        height:220px;
        overflow:hidden;
        margin-left:auto;
        margin-right:auto;
        box-shadow: inset 0 0 2000px rgba(218, 220, 224, .5);
    }
    .image{
        max-width: 100%;
        vertical-align: middle;
        max-height: 220px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .slideshow-container {
        width: 100%;
        height: 220px;
        position: relative;
        margin: auto;
      }
    .mySlides{
        width:100%;
        height:220px;

    }
    .captionDiv{
        width: 100%;
        padding: 4px 0px;
        position: absolute;
        bottom: 0px;
        background-color: #202124;
        opacity: 0.7;
      }
      .caption {
        font-family: Roboto,Noto,sans-serif;
        color: #f2f2f2;
        font-size: 8px;
        margin-right:8px;
        text-align: right;
      }
      #map  {
      	width: 100%;height: 220px;
      }
}
.title{
    font-size: 18px;
    font-weight: normal;
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 11px;
    color:#DADCE0;
}
.snippet{
    font-size:12px;
    margin-top:0;
    padding-top:0;
    padding-left:11px;
    color: #DADCE0
}
.content{
    width: 100%;
    padding-bottom: 4.1em;
}



 .description{
    margin-top:18px;
    text-align:left;
    font-size:14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    color:#DADCE0;
    padding: 0 1.2em 0 11px;
    flex: 1 1 0%;
}
 /*Footer CSS*/
.footer{
    background: #0C234B;
    border-top: 1px solid #424346;
    font-size: 1rem;
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    display: inline-flex;
    height: 4em;
    height: calc(4em + env(safe-area-inset-bottom));
    position: fixed;
    padding: 1em 1.5em;
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
    vertical-align: middle;
    z-index: 10;
    will-change: opacity;
}
.logoLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    flex-shrink: 0;
}
.logoRight{
    font-size: 0.75em;
    margin-left: 1.25em;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}
 /*Audio Video Button*/
#thisButton{
    width:80px;
    height:26px;
    font-size:18px;
    font-weight:normal;
    margin: 14px .2em 0 11px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
#play{
    float:left;
    width:24px;
}
#playIcon{
    font-size:24px
}
#playButton{
    font-size:18px;
    font-weight:normal;
}

/*Quiz Selector CSS*/
.mdl-chip {
    height: 32px;
    font-family: Roboto,Noto,sans-serif;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #424346;
    display: inline-block;
    color: #DADCE0!important;
    margin: 20px 0 0;
    font-size: 0;
    white-space: nowrap;
    width: 90%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

.mdl-chip i.material-icons {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    font-size: 1em
}

.mdl-chip--answer {
    pointer-events: none;
    color: #787f83!important
}

.mdl-chip--answer .mdl-chip__contact {
    background-color: #6a7478
}

/* This is the answer check background color, #70B865 is "Leaf Green" a UArizona secondary color. */
.mdl-chip--correct .mdl-chip__contact {
    background-color: #70B865
}

.mdl-chip--selected .mdl-chip__contact {
    background-color: #6a7478
}

.mdl-chip--selected i.material-icons {
    color: #fff
}

.mdl-chip--wrong i.material-icons {
    color: transparent
}

.mdl-chip--selected.mdl-chip--wrong .mdl-chip__contact {
    background-color: #d43b31
}



.mdl-chip--selected.mdl-chip--wrong .mdl-chip__contact i.material-icons {
    color: #fff
}
.mdl-chip__text {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%
}

.mdl-chip__action {
    height: 24px;
    width: 24px;
    background: 0 0;
    opacity: .54;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    border: none;
    outline: none
}

.mdl-chip__action,.mdl-chip__contact {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center
}

.mdl-chip__contact {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 8px;
    font-size: 18px;
    line-height: 32px;
    background-color: #378DBD;
    font-weight: 500
}

.mdl-chip:hover {
    background-color: #55565A
}

.mdl-chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.mdl-chip:active {
    background-color: #59666c
}

.mdl-chip--deletable {
    padding-right: 4px
}

.mdl-chip--contact {
    padding-left: 0
}
.mdl-chip--correct{
     color: #DADCE0!important;
     
}
#map {
    width: 100%; height: 320px;
}
.mdl-switch__track {
    background: #55565A;
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
    width: 36px;
    border-radius: 14px;
    cursor: pointer;
}
.mdl-switch__track {
    background: #55565A;
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
    width: 36px;
    border-radius: 14px;
    cursor: pointer;
}
.mdl-switch__thumb {
    background: #DADCE0;
    position: absolute;
    left: 0;
    top: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: left;
}
.mdl-switch.is-checked .mdl-switch__thumb {
    background: #2979ff;
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

#playSpan{
    width:85px;
    margin-left: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#playIcon{
    margin-right: 5px;
}
.playoverlay { 
	position: absolute; 
	opacity: 0.5; height: 360px; 
	width: 100%;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96'><path fill='none' d='M0 0h96v96H0z' /><path fill='%23111' d='M94.98 28.84s-.94-6.6-3.81-9.5c-3.64-3.81-7.72-3.83-9.59-4.05-13.4-.97-33.52-.85-33.52-.85s-20.12-.12-33.52.85c-1.87.22-5.95.24-9.59 4.05-2.87 2.9-3.81 9.5-3.81 9.5S.18 36.58 0 44.33v7.26c.18 7.75 1.14 15.49 1.14 15.49s.93 6.6 3.81 9.5c3.64 3.81 8.43 3.69 10.56 4.09 7.53.72 31.7.89 32.54.9.01 0 20.14.03 33.54-.94 1.87-.22 5.95-.24 9.59-4.05 2.87-2.9 3.81-9.5 3.81-9.5s.96-7.75 1.02-15.49v-7.26c-.07-7.75-1.03-15.49-1.03-15.49z' /><path fill='%23FAFAFA' d='M38.28 34.41v27l25.74-13.5' /><radialGradient id='a' cx='38.156' cy='63.518' r='29.046' gradientTransform='matrix(1 0 0 -1 0 98)' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23262626' stop-opacity='.4' /><stop offset='1' stop-color='%23262626' stop-opacity='.05' /></radialGradient><path fill='url(%23a)' d='M38.28 34.41l22.6 15.17 3.14-1.65-25.74-13.52z' /><path fill='%23FFF' fill-opacity='.2' d='M94.98 28.84s-.94-6.6-3.81-9.5c-3.64-3.81-7.72-3.83-9.59-4.05-13.4-.97-33.52-.85-33.52-.85s-20.12-.12-33.52.85c-1.87.22-5.95.24-9.59 4.05-2.87 2.9-3.81 9.5-3.81 9.5S.18 36.58 0 44.33v.5c.18-7.75 1.14-15.49 1.14-15.49s.93-6.6 3.81-9.5c3.64-3.81 7.72-3.83 9.59-4.05 13.4-.97 33.52-.85 33.52-.85s20.12-.12 33.52.85c1.87.22 5.95.24 9.59 4.05 2.87 2.9 3.81 9.5 3.81 9.5s.96 7.75 1.02 15.49v-.5c-.06-7.75-1.02-15.49-1.02-15.49z' /><path fill='%233E2723' fill-opacity='.2' d='M94.98 67.16s-.94 6.6-3.81 9.5c-3.64 3.81-7.72 3.83-9.59 4.05-13.4.97-33.52.85-33.52.85s-20.12.12-33.52-.85c-1.87-.22-5.95-.24-9.59-4.05-2.87-2.9-3.81-9.5-3.81-9.5S.18 59.42 0 51.67v-.5c.18 7.75 1.14 15.49 1.14 15.49s.93 6.6 3.81 9.5c3.64 3.81 7.72 3.83 9.59 4.05 13.4.97 33.52.85 33.52.85s20.12.12 33.52-.85c1.87-.22 5.95-.24 9.59-4.05 2.87-2.9 3.81-9.5 3.81-9.5s.96-7.75 1.02-15.49v.5c-.06 7.75-1.02 15.49-1.02 15.49z' /><path fill='%23FFF' fill-opacity='.2' d='M38.28 61.41v.5l25.74-13.5v-.5' /><path fill='%233E2723' fill-opacity='.2' d='M38.28 34.41v-.5l25.74 13.5v.5' /><radialGradient id='b' cx='5.181' cy='78.795' r='103.623' gradientTransform='matrix(1 0 0 -1 0 98)' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23FFF' /><stop offset='1' stop-color='%23FFF' stop-opacity='0' /></radialGradient><path fill='url(%23b)' fill-opacity='.1' d='M94.98 28.84s-.94-6.6-3.81-9.5c-3.64-3.81-7.72-3.83-9.59-4.05-13.4-.97-33.52-.85-33.52-.85s-20.12-.12-33.52.85c-1.87.22-5.95.24-9.59 4.05-2.87 2.9-3.81 9.5-3.81 9.5S.18 36.58 0 44.33v7.26c.18 7.75 1.14 15.49 1.14 15.49s.93 6.6 3.81 9.5c3.64 3.81 8.43 3.69 10.56 4.09 7.53.72 31.7.89 32.54.9.01 0 20.14.03 33.54-.94 1.87-.22 5.95-.24 9.59-4.05 2.87-2.9 3.81-9.5 3.81-9.5s.96-7.75 1.02-15.49v-7.26c-.08-7.75-1.03-15.49-1.03-15.49z' /></svg>");
	background-size: 4.5em 4.5em;
	height: 4.5em;
	left: 0;
	margin: -2.25em auto 0;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 50%;
	width: 4.5em;
	z-index: 1 
}
.playoverlay:hover { 
	opacity: 0.8 
}

/*Navigation Button Formatting */     


.mdl-button--HikeGo {
    background-color: #007D84;
    color: white;
    float: right;
    width: 150px;
      
}

.mdl-button--HikeBack {
    background-color: #007D84;
    color: white;
    float: left;
    width: 150px;
      
}

.mdl-button--Next {
    background-color: #007D84;
    color: white;
    float: right;
    width: 125px;
      
}

.mdl-button--Previous {
    background-color: #EF4056;
    color: white;
    float: left;
    width: 125px;   

}

.mdl-button--KeepHiking {
    background-color: #007D84;
    color: white;
}

.mdl-button--MobileGo {
    background-color: #8B0015;
    color:white;
    width: 100%;
    max-width: 175px;
    float: right;    
}

.mdl-button--PCGo {
    background-color: #001C48;
    color: white;
    width: 100%;
    max-width: 175px;
    float: left;   
}

/*styling to fix mdl-ripple bug in iOs?*/

.mdl-ripple { background: #000; opacity: 0.001; 
}

#FullSlide{
    color: #F4EDE5;
    font-size: 14px;
    position: absolute;
    width: 100%;
    max-width: 480px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.fullSlideDescription{
    margin-top:18px;
    text-align:left;
    font-size:14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    color:#F4EDE5;
    padding: 0 1.2em 0 11px;
    flex: 1 1 0%;
}

.fullSlideTitle{
    font-size: 20px;
    font-weight: normal;
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 11px;
    color:#F4EDE5;
}
.fullSlideSnippet{
    font-size:12px;
    margin-top:0;
    padding-top:0;
    padding-left:11px;
    color: #F4EDE5
}
/*
.fullSlideContent{
    width: 100%;
    padding-bottom: 4.1em;
}
*/

.fullSlideFooter{
    background: #0C234B;
    border-top: 1px solid #424346;
    font-size: 1rem;
    width: 100%;
    /*max-width: 480px;*/
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: inline-flex;
    height: 4em;
    height: calc(4em + env(safe-area-inset-bottom));
    position: fixed;
    padding: 1em 1.5em;
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
    vertical-align: middle;
    z-index: 10;
    will-change: opacity;
}

.fullSlideContent{
   /* width: 480px;*/
    padding-bottom: 4.1em;
    /*padding-top: 20%;*/
    margin-top: 35%;
    background-color: rgba( 0, 28, 72, .5);
    
}

.footer420{
    background: #0C234B;
    border-top: 1px solid #424346;
    font-size: 1rem;
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    display: inline-flex;
    height: 4em;
    height: calc(4em + env(safe-area-inset-bottom));
    position: fixed;
    padding: 1em 1.5em;
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
    vertical-align: middle;
    z-index: 10;
    will-change: opacity;
}

/*This is the Css for the LIMR logo SVG*/

.LIMR{
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #0C234B;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 223.10462 45.075'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23bd2036;%7D.cls-3%7Bfill:%2300275b;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='7.687 0 7.682 11.856 8.91 11.854 4.078 24.686 0 24.681 0 36.539 39.581 36.539 39.581 24.665 35.475 24.659 30.685 11.863 31.887 11.869 31.887 0.003 7.687 0'/%3E%3Cpath class='cls-2' d='M27.71522,8.66381,36.193,30.64734s1.08663,2.67481,2.85078,2.67481H32.87094s.3099.0454.61868-.46962a1.02392,1.02392,0,0,0,.028-.73524l-1.90874-4.90746H23.83834l-1.9121,4.90746a1.03372,1.03372,0,0,0,.03083.73524c.30766.515.617.46962.617.46962H16.40178c1.763,0,2.85021-2.67481,2.85021-2.67481Z' transform='translate(-7.93177 -4.23325)'/%3E%3Cpolygon class='cls-3' points='19.791 4.403 27.436 4.403 27.436 7.46 24.26 7.46 32.61 28.981 35.079 28.981 35.079 32.147 24.73 32.147 24.73 29.067 21.825 29.067 21.825 35.107 38.159 35.107 38.159 26.101 34.492 26.107 28.612 10.432 30.458 10.432 30.458 1.431 19.791 1.431 9.124 1.431 9.124 10.432 10.971 10.432 5.091 26.088 1.423 26.101 1.423 35.107 17.758 35.107 17.758 29.067 14.852 29.067 14.852 32.147 4.503 32.147 4.503 28.981 6.972 28.981 15.322 7.46 12.147 7.46 12.147 4.403 19.791 4.403'/%3E%3Cpath class='cls-1' d='M53.846,35.44208a2.991,2.991,0,0,1,.00222,4.2502,3.15129,3.15129,0,0,1-4.34015,0,2.99361,2.99361,0,0,1,.00222-4.2502,3.14279,3.14279,0,0,1,4.33571,0m-.43091.35983a2.45193,2.45193,0,0,0-3.47278,0,2.55461,2.55461,0,0,0,0,3.53165,2.45594,2.45594,0,0,0,3.47167,0,2.55317,2.55317,0,0,0,.00111-3.53165m-3.06187.03554h1.386a1.40593,1.40593,0,0,1,.87958.24766.82737.82737,0,0,1,.31874.68967.9376.9376,0,0,1-.31985.753,1.166,1.166,0,0,1-.613.25432l.99509,1.51484H52.37l-.89623-1.49485-.5775.00223v1.49262h-.54308Zm.54308,1.50594h.73631a.92535.92535,0,0,0,.562-.1366.50623.50623,0,0,0,.17657-.42979.42565.42565,0,0,0-.17657-.37871,1.02465,1.02465,0,0,0-.562-.12105h-.73631Z' transform='translate(-7.93177 -4.23325)'/%3E%3Cpolygon class='cls-1' points='19.777 20.647 22.763 20.647 19.836 12.935 16.804 20.647 19.777 20.647'/%3E%3Crect class='cls-1' x='48.41899' width='0.70835' height='45.075'/%3E%3Cpath class='cls-1' d='M228.08081,37.25821a5.47928,5.47928,0,0,0-1.85942.28356,2.57845,2.57845,0,0,0-1.20263.82492,2.03363,2.03363,0,0,0-.41862,1.28052,1.82137,1.82137,0,0,0,.24209.96446,2.27391,2.27391,0,0,0,.80866.73469,9.45489,9.45489,0,0,0,1.60109.70611,9.55253,9.55253,0,0,1,1.69914.72236.93367.93367,0,0,1,.40238.80474,1.04392,1.04392,0,0,1-.55033.89048,2.45043,2.45043,0,0,1-1.36235.357,5.37825,5.37825,0,0,1-1.07148-.10255,4.96708,4.96708,0,0,1-1.03843-.34073,10.163,10.163,0,0,1-1.20656-.65679l.60749,1.749a7.67939,7.67939,0,0,0,1.19814.35249,6.59387,6.59387,0,0,0,1.1903.09079,5.812,5.812,0,0,0,2.07294-.33681,2.99893,2.99893,0,0,0,1.3629-.96893,2.33624,2.33624,0,0,0,.48027-1.45257,2.05847,2.05847,0,0,0-.68987-1.55176,3.07186,3.07186,0,0,0-.76719-.50885,14.83239,14.83239,0,0,0-1.4492-.5335,11.0478,11.0478,0,0,1-1.12473-.41078,1.70015,1.70015,0,0,1-.58282-.38556.678.678,0,0,1-.18045-.45953.82023.82023,0,0,1,.44719-.71844,2.24649,2.24649,0,0,1,1.18638-.27516,4.26361,4.26361,0,0,1,2.18333.68986V37.49638a7.1164,7.1164,0,0,0-1.97822-.23817m-10.59893,1.57642a2.28269,2.28269,0,0,1,1.51869-.51726,2.13014,2.13014,0,0,1,2.25788,1.98664h-4.58914a2.51142,2.51142,0,0,1,.81257-1.46938m5.63991,2.29037a3.89465,3.89465,0,0,0-.30374-1.54728,3.67227,3.67227,0,0,0-.84565-1.22728,3.8473,3.8473,0,0,0-1.28052-.80474,4.39962,4.39962,0,0,0-1.60893-.28749,4.99733,4.99733,0,0,0-1.638.25891,3.79935,3.79935,0,0,0-1.31752.76775,4.21011,4.21011,0,0,0-.76327.93139,4.71944,4.71944,0,0,0-.50493,1.141,4.32261,4.32261,0,0,0-.17652,1.21943,4.07807,4.07807,0,0,0,.63661,2.24891,4.22292,4.22292,0,0,0,1.78938,1.54335,5.96287,5.96287,0,0,0,2.598.55032q.427,0,.84957-.04147a5.64256,5.64256,0,0,0,.80474-.13506,7.52583,7.52583,0,0,0,.80026-.2505l.96053-1.6913a6.08342,6.08342,0,0,1-.93587.52958,4.22316,4.22316,0,0,1-.96446.29533,5.881,5.881,0,0,1-1.07148.09471,4.09243,4.09243,0,0,1-1.83869-.394,2.8581,2.8581,0,0,1-1.23121-1.141,3.84016,3.84016,0,0,1-.48476-1.77312h6.52647Zm-11.97808-3.86679a6.16545,6.16545,0,0,0-2.02361.30374,4.52754,4.52754,0,0,0-1.58818.96053,4.2239,4.2239,0,0,0-1.44529,3.22625,3.88477,3.88477,0,0,0,.36145,1.66216,3.9274,3.9274,0,0,0,1.0177,1.33824,4.70911,4.70911,0,0,0,1.531.86639,5.86454,5.86454,0,0,0,1.9334.30374,6.42355,6.42355,0,0,0,2.26571-.32055l1.04235-1.73221a5.79865,5.79865,0,0,1-.8989.48026,4.68086,4.68086,0,0,1-.90672.28357,4.62017,4.62017,0,0,1-.90337.09022,3.93487,3.93487,0,0,1-1.851-.431A3.28909,3.28909,0,0,1,208.377,43.087a3.359,3.359,0,0,1-.11042-3.247,2.49425,2.49425,0,0,1,1.05076-1.03,3.26405,3.26405,0,0,1,1.54729-.36146,3.05186,3.05186,0,0,1,2.21639.86246V37.48013a8.50756,8.50756,0,0,0-1.93732-.22192m-8.02834,7.98352a.94325.94325,0,0,1-.16812-.43936,6.44773,6.44773,0,0,1-.04147-.86975v-2.9225a2.78838,2.78838,0,0,1,.3777-1.61733,1.55642,1.55642,0,0,1,.64055-.52958,2.06033,2.06033,0,0,1,.88656-.19278,1.152,1.152,0,0,1,.83725.28749V37.32434a3.6556,3.6556,0,0,0-.61588-.06613,2.22563,2.22563,0,0,0-1.23122.34913,2.64471,2.64471,0,0,0-.895,1.01377v-1.461a1.35819,1.35819,0,0,1-1.034.33624h-1.23177a2.48942,2.48942,0,0,1,.47242.43544.92547.92547,0,0,1,.1642.41862,7.11445,7.11445,0,0,1,.037.8944v4.68778a7.13227,7.13227,0,0,1-.037.89049.92856.92856,0,0,1-.1642.42254,2.48975,2.48975,0,0,1-.47242.43544h2.93932a2.83627,2.83627,0,0,1-.464-.43936m-3.572.43936a2.83627,2.83627,0,0,1-.464-.43936.95564.95564,0,0,1-.16814-.43936,6.475,6.475,0,0,1-.0409-.86975V37.16014a1.3356,1.3356,0,0,1-1.01825.33624h-1.24747a2.38664,2.38664,0,0,1,.46347.427,1.00648,1.00648,0,0,1,.16868.464,6.73175,6.73175,0,0,1,.04091.85742v3.17693a2.12424,2.12424,0,0,1-.55817,1.53943,1.98174,1.98174,0,0,1-1.494.5789,1.79106,1.79106,0,0,1-1.91714-1.38756,4.38121,4.38121,0,0,1-.10256-1.05076V37.16014a1.39688,1.39688,0,0,1-1.05916.33624H190.94a2.48169,2.48169,0,0,1,.47187.43544.919.919,0,0,1,.1642.41862,7.11445,7.11445,0,0,1,.037.8944v3.17693a4.07524,4.07524,0,0,0,.501,2.24947,2.62289,2.62289,0,0,0,1.08775.91962,3.63484,3.63484,0,0,0,1.57193.3284,3.41194,3.41194,0,0,0,1.00537-.12721,2.25591,2.25591,0,0,0,.747-.40237,5.89569,5.89569,0,0,0,.81708-.86639v1.1578Zm-12.692-6.8134a2.79044,2.79044,0,0,1,1.0261,1.17349,3.94912,3.94912,0,0,1,.36539,1.74061,3.256,3.256,0,0,1-.34858,1.535,2.54255,2.54255,0,0,1-.98126,1.03451,2.78125,2.78125,0,0,1-1.42847.3693,2.62588,2.62588,0,0,1-1.12025-.24209,2.76522,2.76522,0,0,1-.92355-.70219,3.19938,3.19938,0,0,1-.61588-1.07541,3.90369,3.90369,0,0,1-.21352-1.28837A3.38921,3.38921,0,0,1,182.952,39.877a2.51785,2.51785,0,0,1,.95661-1.05468,2.66852,2.66852,0,0,1,1.41167-.37379,2.79981,2.79981,0,0,1,1.531.41918m-2.44224-1.50244a4.68067,4.68067,0,0,0-1.94517.8703,4.27685,4.27685,0,0,0-1.22335,1.50637,4.29484,4.29484,0,0,0,.14347,4.06742,4.13945,4.13945,0,0,0,1.63356,1.54727,4.82372,4.82372,0,0,0,2.31952.56265,4.99066,4.99066,0,0,0,2.39292-.58282,4.41213,4.41213,0,0,0,1.707-1.58875,4.14549,4.14549,0,0,0,.6198-2.22032,4.25964,4.25964,0,0,0-.35249-1.70363,4.07948,4.07948,0,0,0-1.02666-1.424,4.36007,4.36007,0,0,0-3.06989-1.14154,6.21912,6.21912,0,0,0-1.19871.107m-7.48869-.107a5.47936,5.47936,0,0,0-1.85942.28356,2.57556,2.57556,0,0,0-1.20262.82492,2.03364,2.03364,0,0,0-.41863,1.28052,1.82138,1.82138,0,0,0,.2421.96446,2.27383,2.27383,0,0,0,.80866.73469,9.45489,9.45489,0,0,0,1.60109.70611,9.57315,9.57315,0,0,1,1.69913.72236.93365.93365,0,0,1,.40238.80474,1.0439,1.0439,0,0,1-.55033.89048,2.45106,2.45106,0,0,1-1.36289.357,5.37267,5.37267,0,0,1-1.07093-.10255,4.95649,4.95649,0,0,1-1.03843-.34073,10.20805,10.20805,0,0,1-1.20711-.65679l.60747,1.749a7.70141,7.70141,0,0,0,1.19871.35249,6.59383,6.59383,0,0,0,1.19029.09079,5.81187,5.81187,0,0,0,2.07294-.33681,2.99412,2.99412,0,0,0,1.36235-.96893,2.33289,2.33289,0,0,0,.48026-1.45257,2.0579,2.0579,0,0,0-.6893-1.55176,3.0647,3.0647,0,0,0-.76776-.50885,14.80617,14.80617,0,0,0-1.44864-.5335,10.94766,10.94766,0,0,1-1.12472-.41078,1.69483,1.69483,0,0,1-.58283-.38556.678.678,0,0,1-.18044-.45953.82021.82021,0,0,1,.44719-.71844,2.24649,2.24649,0,0,1,1.18638-.27516,4.26361,4.26361,0,0,1,2.18333.68986V37.49638a7.11925,7.11925,0,0,0-1.97823-.23817m-10.59892,1.57642a2.28269,2.28269,0,0,1,1.51869-.51726A2.13048,2.13048,0,0,1,170.098,40.304h-4.58915a2.5085,2.5085,0,0,1,.81258-1.46938m5.6399,2.29037a3.89482,3.89482,0,0,0-.30373-1.54728,3.68056,3.68056,0,0,0-.84565-1.22728,3.853,3.853,0,0,0-1.28053-.80474,4.39953,4.39953,0,0,0-1.60892-.28749,4.99744,4.99744,0,0,0-1.638.25891,3.7993,3.7993,0,0,0-1.31751.76775,4.19428,4.19428,0,0,0-.76327.93139,4.719,4.719,0,0,0-.50493,1.141,4.32262,4.32262,0,0,0-.17653,1.21943,4.0775,4.0775,0,0,0,.63607,2.24891,4.22774,4.22774,0,0,0,1.78993,1.54335,5.96283,5.96283,0,0,0,2.598.55032q.427,0,.84957-.04147a5.64271,5.64271,0,0,0,.80475-.13506,7.52726,7.52726,0,0,0,.80026-.2505l.96052-1.6913a6.10966,6.10966,0,0,1-.93586.52958,4.22347,4.22347,0,0,1-.96446.29533,5.88111,5.88111,0,0,1-1.07149.09471,4.09249,4.09249,0,0,1-1.83869-.394,2.85948,2.85948,0,0,1-1.23176-1.141,3.8466,3.8466,0,0,1-.4842-1.77312h6.52646Zm-14.53575-6.03387a2.21329,2.21329,0,0,1,1.56353.55031,1.83586,1.83586,0,0,1,.59514,1.41166q0,2.04436-2.96342,2.5448.72294,1.21551,1.50245,2.32343.78009,1.10793,1.60892,2.09311a10.76543,10.76543,0,0,0,1.00593,1.07934,2.33485,2.33485,0,0,0,1.73613.68594q.31187,0,1.62517-.09863a8.97533,8.97533,0,0,1-2.25339-1.82244,46.26691,46.26691,0,0,1-3.15619-3.89145,4.38,4.38,0,0,0,1.47722-.66856,3.55786,3.55786,0,0,0,1.0261-1.08382,2.48646,2.48646,0,0,0,.36987-1.29285,2.7272,2.7272,0,0,0-.31215-1.252,2.8388,2.8388,0,0,0-.8619-1.01377,4.33906,4.33906,0,0,0-2.62717-.68986q-.45143,0-.75487.01682-.38583.016-.821.01625h-2.57787a1.39266,1.39266,0,0,1,.501.4147,1.51489,1.51489,0,0,1,.23369.66464,8.67658,8.67658,0,0,1,.06165,1.18637v7.1502a8.66192,8.66192,0,0,1-.06165,1.18582,1.5149,1.5149,0,0,1-.23369.6652,1.39286,1.39286,0,0,1-.501.4147h3.3658a1.31848,1.31848,0,0,1-.50044-.41078,1.55561,1.55561,0,0,1-.22584-.66464,8.86286,8.86286,0,0,1-.06165-1.1903V35.22282a7.00475,7.00475,0,0,1,1.23962-.13169m-9.97016,9.9539a3.78418,3.78418,0,0,1-.10255-1.11241v-10.27a1.37112,1.37112,0,0,1-1.04291.3368h-1.2228a2.6104,2.6104,0,0,1,.47186.431.89728.89728,0,0,1,.1642.4147,7.21664,7.21664,0,0,1,.037.90281v8.1847a7.13485,7.13485,0,0,1-.037.89049.92845.92845,0,0,1-.1642.42254,2.50007,2.50007,0,0,1-.47186.43544H148.026a1.76053,1.76053,0,0,1-.5705-.63606m-5.89489-.27516a1.25565,1.25565,0,0,0,.538.62373,2.17994,2.17994,0,0,0,.67305.27516,7.69451,7.69451,0,0,0,.993.12721l.77168-1.1578a1.79975,1.79975,0,0,1-1.0586-.28692A.93561.93561,0,0,1,143.1,43.871a4.44459,4.44459,0,0,1-.074-1.01377V40.56684a10.0048,10.0048,0,0,0-.06164-1.359,2.10832,2.10832,0,0,0-.29142-.75935q-.74728-1.18945-2.99648-1.1903a6.42769,6.42769,0,0,0-1.23121.11544l-1.174,1.781a9.39963,9.39963,0,0,1,1.37132-.56209,3.78583,3.78583,0,0,1,1.05075-.144,2.60571,2.60571,0,0,1,.88208.1401,1.3482,1.3482,0,0,1,.60356.39789.90863.90863,0,0,1,.21351.59515.79764.79764,0,0,1-.39845.72236,5.53626,5.53626,0,0,1-1.60443.48419,8.61243,8.61243,0,0,0-2.33128.68985,1.74435,1.74435,0,0,0-.72237.73469,2.14992,2.14992,0,0,0-.27124,1.04628,2.55571,2.55571,0,0,0,.90282,1.97038,3.04035,3.04035,0,0,0,2.10151.68986,4.31049,4.31049,0,0,0,.97735-.107l1.04235-1.32143a4.65885,4.65885,0,0,1-1.32984.22976,2.20025,2.20025,0,0,1-1.38308-.38612,1.2661,1.2661,0,0,1-.49707-1.0586q0-1.05075,1.28108-1.3629.96-.22192,1.23513-.29534.27487-.074.501-.15187a4.95994,4.95994,0,0,0,.52959-.22584v2.29037a3.99111,3.99111,0,0,0,.13505,1.23962m-8.20375.47186a.95563.95563,0,0,1-.16813-.43936,6.47153,6.47153,0,0,1-.0409-.86975v-2.9225a2.78874,2.78874,0,0,1,.37714-1.61733,1.56351,1.56351,0,0,1,.64055-.52958,2.06033,2.06033,0,0,1,.88656-.19278,1.151,1.151,0,0,1,.83724.28749V37.32434a3.64975,3.64975,0,0,0-.61588-.06613,2.22557,2.22557,0,0,0-1.23121.34913,2.64353,2.64353,0,0,0-.8944,1.01377v-1.461a1.36047,1.36047,0,0,1-1.03452.33624h-1.2312a2.50006,2.50006,0,0,1,.47186.43544.92536.92536,0,0,1,.1642.41862,7.117,7.117,0,0,1,.037.8944v4.68778a7.13485,7.13485,0,0,1-.037.89049.92845.92845,0,0,1-.1642.42254,2.5004,2.5004,0,0,1-.47186.43544h2.93876a2.83543,2.83543,0,0,1-.464-.43936m-9.17438-6.4071a2.28265,2.28265,0,0,1,1.51869-.51726,2.12964,2.12964,0,0,1,2.25731,1.98664h-4.5886a2.50852,2.50852,0,0,1,.8126-1.46938m5.6399,2.29037a3.89465,3.89465,0,0,0-.30374-1.54728,3.68068,3.68068,0,0,0-.84564-1.22728,3.8531,3.8531,0,0,0-1.28053-.80474,4.39953,4.39953,0,0,0-1.60892-.28749,4.9975,4.9975,0,0,0-1.63806.25891,3.7993,3.7993,0,0,0-1.31751.76775,4.17912,4.17912,0,0,0-.76327.93139,4.71944,4.71944,0,0,0-.50493,1.141,4.32262,4.32262,0,0,0-.17653,1.21943,4.07758,4.07758,0,0,0,.63607,2.24891,4.22441,4.22441,0,0,0,1.78993,1.54335,5.96287,5.96287,0,0,0,2.598.55032q.427,0,.84957-.04147a5.65619,5.65619,0,0,0,.80474-.13506,7.52726,7.52726,0,0,0,.80026-.2505l.96053-1.6913a6.10926,6.10926,0,0,1-.93587.52958,4.22332,4.22332,0,0,1-.96446.29533,5.88119,5.88119,0,0,1-1.07149.09471,4.09255,4.09255,0,0,1-1.83869-.394,2.85942,2.85942,0,0,1-1.23176-1.141,3.84648,3.84648,0,0,1-.48419-1.77312h6.52646Zm-16.81044-3.62862h-1.14155a2.48923,2.48923,0,0,1,.47243.43544.92535.92535,0,0,1,.16419.41862,7.11445,7.11445,0,0,1,.037.8944v4.68778a7.13227,7.13227,0,0,1-.037.89049.92844.92844,0,0,1-.16419.42254,2.48956,2.48956,0,0,1-.47243.43544h2.93932a2.83627,2.83627,0,0,1-.464-.43936.94346.94346,0,0,1-.16813-.43936,6.44985,6.44985,0,0,1-.04146-.86975v-3.5793a1.75338,1.75338,0,0,1,.23817-1.00985,1.78515,1.78515,0,0,1,.70611-.56656,2.29655,2.29655,0,0,1,.97678-.20511,2.60907,2.60907,0,0,1,1.03843.20959,1.79,1.79,0,0,1,.7431.54583,1.52105,1.52105,0,0,1,.29533.66072,5.47639,5.47639,0,0,1,.09023,1.12081v2.82387a6.41871,6.41871,0,0,1-.04091.8535.99009.99009,0,0,1-.17261.45561,2.52069,2.52069,0,0,1-.47578.43936h2.96342a1.76043,1.76043,0,0,1-.5705-.63606,3.78418,3.78418,0,0,1-.10255-1.11241V40.91989a9.36991,9.36991,0,0,0-.09022-1.51477,2.45444,2.45444,0,0,0-.3284-.88264,2.63449,2.63449,0,0,0-.67305-.66071,3.23055,3.23055,0,0,0-.965-.44721,3.93271,3.93271,0,0,0-1.08775-.15635,2.9488,2.9488,0,0,0-1.37915.30822,4.44976,4.44976,0,0,0-1.24746,1.07094V37.16014a1.371,1.371,0,0,1-1.04235.33624M108.49951,34.533a1.03822,1.03822,0,0,0-.32839.77168,1.09248,1.09248,0,0,0,.31606.79241,1.0399,1.0399,0,0,0,.7756.32392,1.05967,1.05967,0,0,0,.79242-.32392,1.09252,1.09252,0,0,0,.31606-.79241,1.06913,1.06913,0,0,0-.31215-.76719,1.01787,1.01787,0,0,0-.76327-.32448,1.09823,1.09823,0,0,0-.79633.32m.56657,2.96342h-1.23121a2.49942,2.49942,0,0,1,.47186.43544.92536.92536,0,0,1,.1642.41862,7.11445,7.11445,0,0,1,.037.8944v4.68778a7.13227,7.13227,0,0,1-.037.89049.92845.92845,0,0,1-.1642.42254,2.49975,2.49975,0,0,1-.47186.43544h2.93876a2.83627,2.83627,0,0,1-.464-.43936.95563.95563,0,0,1-.16813-.43936,6.47324,6.47324,0,0,1-.0409-.86975V37.16014a1.36045,1.36045,0,0,1-1.03451.33624m-13.471-2.881a1.79639,1.79639,0,0,1-.172-.61588H92.31167a1.82277,1.82277,0,0,1,.48419.4472.92136.92136,0,0,1,.13954.52174q0,.18829-.09863.91121l-1.0261,7.46179a5.71654,5.71654,0,0,1-.31607,1.39989,2.6855,2.6855,0,0,1-.64446.9398H93.7648a2.64051,2.64051,0,0,1-.4231-.35306,1.00911,1.00911,0,0,1-.21744-.34913,1.4296,1.4296,0,0,1-.06557-.47186q0-.22949.08182-.92747l1.04291-7.83165,3.48067,8.21721q.22948.517.32.68986a3.34583,3.34583,0,0,0,.56209.74253q.14374.13618.57889.52174l3.98112-10.17134.94428,7.59348q.08238.7557.08238.993a1.82117,1.82117,0,0,1-.1642.85406,1.18749,1.18749,0,0,1-.575.4926H106.825a2.24829,2.24829,0,0,1-.65679-.77616,5.05168,5.05168,0,0,1-.28692-1.32536l-1.09223-7.83165a4.47066,4.47066,0,0,1-.04932-.64,1.09226,1.09226,0,0,1,.55032-1.10848h-3.07046a2.17,2.17,0,0,1-.04484.50885,8.05145,8.05145,0,0,1-.2914.76383l-2.8732,7.36315ZM83.67136,45.24173a.94987.94987,0,0,1-.16869-.43936,6.47324,6.47324,0,0,1-.0409-.86975v-2.9225a2.7883,2.7883,0,0,1,.37771-1.61733,1.55627,1.55627,0,0,1,.64054-.52958,2.06033,2.06033,0,0,1,.88656-.19278,1.152,1.152,0,0,1,.83725.28749V37.32434a3.6556,3.6556,0,0,0-.61589-.06613,2.22427,2.22427,0,0,0-1.23121.34913,2.64471,2.64471,0,0,0-.895,1.01377v-1.461a1.35878,1.35878,0,0,1-1.03451.33624H81.19605a2.48156,2.48156,0,0,1,.47186.43544.919.919,0,0,1,.1642.41862,7.11445,7.11445,0,0,1,.037.8944v4.68778a7.13227,7.13227,0,0,1-.037.89049.92213.92213,0,0,1-.1642.42254,2.48189,2.48189,0,0,1-.47186.43544h2.93876a2.851,2.851,0,0,1-.46345-.43936m-6.65312-6.374a2.79431,2.79431,0,0,1,1.0261,1.17349,3.949,3.949,0,0,1,.36539,1.74061,3.25613,3.25613,0,0,1-.34914,1.535,2.53767,2.53767,0,0,1-.9807,1.03451,2.78126,2.78126,0,0,1-1.42848.3693,2.626,2.626,0,0,1-1.12025-.24209,2.76529,2.76529,0,0,1-.92354-.70219,3.19957,3.19957,0,0,1-.61589-1.07541,3.90368,3.90368,0,0,1-.21351-1.28837A3.38908,3.38908,0,0,1,73.119,39.877a2.51772,2.51772,0,0,1,.95661-1.05468,2.66841,2.66841,0,0,1,1.41166-.37379,2.79981,2.79981,0,0,1,1.531.41918M74.576,37.36525a4.68716,4.68716,0,0,0-1.94573.8703,4.28147,4.28147,0,0,0-1.2228,1.50637,4.29495,4.29495,0,0,0,.14346,4.06742,4.13957,4.13957,0,0,0,1.63358,1.54727,4.82151,4.82151,0,0,0,2.319.56265,4.98759,4.98759,0,0,0,2.39293-.58282A4.40986,4.40986,0,0,0,79.604,43.74769a4.14549,4.14549,0,0,0,.6198-2.22032,4.25051,4.25051,0,0,0-.35306-1.70363,4.07765,4.07765,0,0,0-1.02609-1.424,4.361,4.361,0,0,0-3.0699-1.14154,6.21486,6.21486,0,0,0-1.1987.107m-5.01618,1.30518a2.44892,2.44892,0,0,1,.62821.05324.68937.68937,0,0,1,.31607.23425v-1.568a1.82413,1.82413,0,0,1-.62429.10648H68.082V36.3638a2.15192,2.15192,0,0,1,.1642-1.04291,1.17,1.17,0,0,1,1.09167-.51669,1.6302,1.6302,0,0,1,.91122.28693L71.51339,33.712a7.70176,7.70176,0,0,0-1.215-.12273,5.87428,5.87428,0,0,0-1.65375.20511,3.08645,3.08645,0,0,0-1.18637.64,2.76656,2.76656,0,0,0-.751.96054,3.047,3.047,0,0,0-.22584,1.23961v.8619L65.595,38.67043h.88656v5.26219a6.6166,6.6166,0,0,1-.04091.85742,1.02682,1.02682,0,0,1-.16868.46009,2.297,2.297,0,0,1-.46346.431h3.029a1.22766,1.22766,0,0,1-.26283-.19727,2.98309,2.98309,0,0,1-.246-.3609,1.8074,1.8074,0,0,1-.15187-.40629,3.37984,3.37984,0,0,1-.074-.60356q-.021-.38583-.02074-.78792V38.67043Z' transform='translate(-7.93177 -4.23325)'/%3E%3Cpath class='cls-1' d='M175.05459,21.462a2.28055,2.28055,0,0,1,1.51869-.51725,2.12964,2.12964,0,0,1,2.25731,1.98663H174.242a2.50555,2.50555,0,0,1,.8126-1.46938m5.63934,2.29037a3.885,3.885,0,0,0-.30374-1.54728,3.671,3.671,0,0,0-.84509-1.22728,3.8556,3.8556,0,0,0-1.28109-.80474,4.39739,4.39739,0,0,0-1.60892-.28749,4.99681,4.99681,0,0,0-1.6375.25891,3.79416,3.79416,0,0,0-1.3175.76775,4.17918,4.17918,0,0,0-.76327.9314,4.71839,4.71839,0,0,0-.50492,1.141,4.32192,4.32192,0,0,0-.17653,1.21944,4.07764,4.07764,0,0,0,.63605,2.2489,4.22618,4.22618,0,0,0,1.78938,1.54335,5.96538,5.96538,0,0,0,2.59859.55032q.42618,0,.84957-.04147a5.63531,5.63531,0,0,0,.80418-.13506,7.52265,7.52265,0,0,0,.80026-.2505l.96053-1.6913a6.08352,6.08352,0,0,1-.93587.52959,4.22462,4.22462,0,0,1-.96446.29533,5.87153,5.87153,0,0,1-1.07094.09471,4.09317,4.09317,0,0,1-1.83923-.394,2.86106,2.86106,0,0,1-1.23122-1.141,3.833,3.833,0,0,1-.48418-1.77312h6.5259Zm-10.05477-2.45457a2.5009,2.5009,0,0,1,.68145.07,1.10809,1.10809,0,0,1,.42646.24994V20.01732a3.23533,3.23533,0,0,1-1.04234.10648h-1.37915V17.48037h-.68931v.22192a3.08266,3.08266,0,0,1-.65679,2.18333,2.442,2.442,0,0,1-1.46153.77168v.64054h1.21495v3.91555a12.10311,12.10311,0,0,0,.04931,1.28052,2.247,2.247,0,0,0,.18046.70219,2.29382,2.29382,0,0,0,.41078.57049,2.41679,2.41679,0,0,0,1.814.78008,1.92075,1.92075,0,0,0,.64054-.107l.919-1.25586a2.10553,2.10553,0,0,1-.7386.14794,1.6594,1.6594,0,0,1-1.36291-.60747,1.315,1.315,0,0,1-.25443-.575,6.31114,6.31114,0,0,1-.06555-1.08326V21.29784Zm-4.74662,7.01066a2.836,2.836,0,0,1-.464-.43936.95564.95564,0,0,1-.16813-.43935,6.47292,6.47292,0,0,1-.04091-.86975V19.78755a1.3356,1.3356,0,0,1-1.01825.33625h-1.24746a2.38684,2.38684,0,0,1,.46346.427,1.01278,1.01278,0,0,1,.16812.464,6.60486,6.60486,0,0,1,.04147.85742v3.17693a2.12427,2.12427,0,0,1-.55816,1.53943,1.98176,1.98176,0,0,1-1.494.57889A1.79106,1.79106,0,0,1,159.65747,25.78a4.38118,4.38118,0,0,1-.10256-1.05075V19.78755a1.39686,1.39686,0,0,1-1.05915.33625H157.2892a2.48158,2.48158,0,0,1,.47186.43543.919.919,0,0,1,.1642.41862,7.11453,7.11453,0,0,1,.037.89441v3.17693a4.07394,4.07394,0,0,0,.501,2.24946,2.62276,2.62276,0,0,0,1.08775.91962,3.63481,3.63481,0,0,0,1.57193.3284,3.41192,3.41192,0,0,0,1.00536-.12721,2.25578,2.25578,0,0,0,.747-.40237,5.92525,5.92525,0,0,0,.81707-.86639v1.1578Zm-10.52609-7.01066a2.49356,2.49356,0,0,1,.68091.07,1.1061,1.1061,0,0,1,.427.24994V20.01732a3.23544,3.23544,0,0,1-1.04236.10648h-1.37915V17.48037H153.363v.22192a3.08265,3.08265,0,0,1-.65625,2.18333,2.442,2.442,0,0,1-1.46152.77168v.64054h1.215v3.91555a12.10646,12.10646,0,0,0,.0493,1.28052,2.24724,2.24724,0,0,0,.18045.70219,2.29382,2.29382,0,0,0,.41078.57049,2.41682,2.41682,0,0,0,1.814.78008,1.92066,1.92066,0,0,0,.64054-.107l.91907-1.25586a2.108,2.108,0,0,1-.73861.14794,1.65938,1.65938,0,0,1-1.3629-.60747,1.30853,1.30853,0,0,1-.25443-.575,6.30959,6.30959,0,0,1-.06557-1.08326V21.29784Zm-7.02074-4.13746a1.03824,1.03824,0,0,0-.32839.77167,1.09249,1.09249,0,0,0,.31607.79241,1.0399,1.0399,0,0,0,.7756.32392,1.05963,1.05963,0,0,0,.79241-.32392,1.09249,1.09249,0,0,0,.31607-.79241,1.06915,1.06915,0,0,0-.31215-.76719,1.01788,1.01788,0,0,0-.76327-.32447,1.09729,1.09729,0,0,0-.79634.32m.56657,2.96342h-1.23176a2.48945,2.48945,0,0,1,.47242.43543.92536.92536,0,0,1,.1642.41862,7.11511,7.11511,0,0,1,.037.89441V26.56a7.13265,7.13265,0,0,1-.037.89048.92854.92854,0,0,1-.1642.42255,2.48978,2.48978,0,0,1-.47242.43543h2.93931a2.83611,2.83611,0,0,1-.464-.43936.94347.94347,0,0,1-.16813-.43935,6.44953,6.44953,0,0,1-.04147-.86975V19.78755a1.35818,1.35818,0,0,1-1.034.33625m-3.19318,1.174a2.50094,2.50094,0,0,1,.68146.07,1.10816,1.10816,0,0,1,.42646.24994V20.01732a3.23064,3.23064,0,0,1-1.04235.10648h-1.37915V17.48037h-.68931v.22192a3.08266,3.08266,0,0,1-.65679,2.18333,2.442,2.442,0,0,1-1.46153.77168v.64054h1.21495v3.91555a12.25185,12.25185,0,0,0,.04933,1.28052,2.24671,2.24671,0,0,0,.18044.70219,2.3081,2.3081,0,0,0,.41078.57049,2.41767,2.41767,0,0,0,1.814.78008,1.92071,1.92071,0,0,0,.64054-.107l.91906-1.25586a2.10562,2.10562,0,0,1-.73861.14794,1.65938,1.65938,0,0,1-1.3629-.60747,1.315,1.315,0,0,1-.25443-.575,6.31089,6.31089,0,0,1-.06556-1.08326V21.29784Zm-7.49541-1.41222a5.47453,5.47453,0,0,0-1.85942.28357,2.57551,2.57551,0,0,0-1.20263.82491,2.03358,2.03358,0,0,0-.41862,1.28053,1.82136,1.82136,0,0,0,.24209.96445,2.27387,2.27387,0,0,0,.80867.73469,9.46631,9.46631,0,0,0,1.60052.70611,9.56674,9.56674,0,0,1,1.6997.72236.9332.9332,0,0,1,.40181.80474,1.04329,1.04329,0,0,1-.54975.89048,2.451,2.451,0,0,1-1.36291.357,5.36794,5.36794,0,0,1-1.07093-.10255,4.95628,4.95628,0,0,1-1.03843-.34073,10.12686,10.12686,0,0,1-1.20711-.65679l.60748,1.749a7.70024,7.70024,0,0,0,1.1987.35249,6.59387,6.59387,0,0,0,1.1903.09079,5.81218,5.81218,0,0,0,2.07294-.3368,2.99706,2.99706,0,0,0,1.36234-.96894,2.33274,2.33274,0,0,0,.48026-1.45257,2.05791,2.05791,0,0,0-.68929-1.55176,3.06506,3.06506,0,0,0-.76775-.50884,14.80635,14.80635,0,0,0-1.44865-.53351,10.948,10.948,0,0,1-1.12473-.41078,1.69477,1.69477,0,0,1-.58282-.38555.678.678,0,0,1-.18045-.45954.82024.82024,0,0,1,.4472-.71844,2.24647,2.24647,0,0,1,1.18638-.27515,4.26364,4.26364,0,0,1,2.18333.68985V20.1238a7.12173,7.12173,0,0,0-1.97823-.23818m-12.20336.23818h-1.141a2.50661,2.50661,0,0,1,.47241.43543.92526.92526,0,0,1,.16421.41862,7.15,7.15,0,0,1,.03642.89441V26.56a7.167,7.167,0,0,1-.03642.89048.92843.92843,0,0,1-.16421.42255,2.50694,2.50694,0,0,1-.47241.43543h2.93875a2.85145,2.85145,0,0,1-.46345-.43936.94346.94346,0,0,1-.16812-.43935,6.44784,6.44784,0,0,1-.04147-.86975v-3.5793a1.75334,1.75334,0,0,1,.23817-1.00985,1.78531,1.78531,0,0,1,.70611-.56657,2.29656,2.29656,0,0,1,.97679-.20511,2.60905,2.60905,0,0,1,1.03842.20959,1.78992,1.78992,0,0,1,.7431.54584,1.521,1.521,0,0,1,.29533.66071,5.51668,5.51668,0,0,1,.09023,1.12081V26.56a6.41864,6.41864,0,0,1-.04091.85349.99633.99633,0,0,1-.1726.45561,2.52067,2.52067,0,0,1-.47578.43936h2.96341a1.76029,1.76029,0,0,1-.57049-.63606,3.78367,3.78367,0,0,1-.10256-1.1124V23.5473a9.37,9.37,0,0,0-.09022-1.51477,2.45469,2.45469,0,0,0-.32839-.88264,2.63714,2.63714,0,0,0-.67362-.66071,3.22044,3.22044,0,0,0-.96445-.4472,3.93228,3.93228,0,0,0-1.08774-.15636,2.94711,2.94711,0,0,0-1.37915.30823,4.44969,4.44969,0,0,0-1.24747,1.07093V19.78755a1.37157,1.37157,0,0,1-1.04291.33625m-4.98984,7.10536a1.51485,1.51485,0,0,1-.23369.66464,1.39279,1.39279,0,0,1-.501.4147h3.36579a1.31822,1.31822,0,0,1-.50044-.41078,1.55547,1.55547,0,0,1-.22585-.66464,8.863,8.863,0,0,1-.06164-1.19029v-7.1502a8.86307,8.86307,0,0,1,.06164-1.1903,1.56093,1.56093,0,0,1,.22585-.6652,1.32247,1.32247,0,0,1,.50044-.41022H120.2958a1.39289,1.39289,0,0,1,.501.4147,1.51485,1.51485,0,0,1,.23369.66464,8.67694,8.67694,0,0,1,.06164,1.18638v7.1502a8.67688,8.67688,0,0,1-.06164,1.18637m-6.88737.44328a3.78414,3.78414,0,0,1-.10255-1.1124v-10.27a1.37114,1.37114,0,0,1-1.04292.3368h-1.2228a2.60969,2.60969,0,0,1,.47186.43095.89717.89717,0,0,1,.1642.4147,7.21415,7.21415,0,0,1,.037.90281V26.56a7.13208,7.13208,0,0,1-.037.89048.92842.92842,0,0,1-.1642.42255,2.49946,2.49946,0,0,1-.47186.43543h2.93877a1.76034,1.76034,0,0,1-.5705-.63606m-3.99568,0a3.78367,3.78367,0,0,1-.10256-1.1124v-10.27a1.36886,1.36886,0,0,1-1.04235.3368h-1.22336a2.59047,2.59047,0,0,1,.47186.43095.89131.89131,0,0,1,.1642.4147,7.21415,7.21415,0,0,1,.037.90281V26.56a7.13208,7.13208,0,0,1-.037.89048.92232.92232,0,0,1-.1642.42255,2.48191,2.48191,0,0,1-.47186.43543h2.93876a1.76587,1.76587,0,0,1-.57049-.63606m-9.027-6.2104a2.28065,2.28065,0,0,1,1.5187-.51725,2.12964,2.12964,0,0,1,2.25731,1.98663h-4.58859a2.50553,2.50553,0,0,1,.81258-1.46938m5.63935,2.29037a3.89485,3.89485,0,0,0-.30373-1.54728,3.671,3.671,0,0,0-.8451-1.22728,3.85535,3.85535,0,0,0-1.28108-.80474,4.39953,4.39953,0,0,0-1.60892-.28749,4.99432,4.99432,0,0,0-1.6375.25891,3.7942,3.7942,0,0,0-1.31751.76775,4.17945,4.17945,0,0,0-.76327.9314,4.71878,4.71878,0,0,0-.50492,1.141,4.32228,4.32228,0,0,0-.17653,1.21944,4.07764,4.07764,0,0,0,.636,2.2489,4.22618,4.22618,0,0,0,1.78938,1.54335,5.96541,5.96541,0,0,0,2.59859.55032q.4262,0,.84958-.04147a5.63517,5.63517,0,0,0,.80417-.13506,7.52122,7.52122,0,0,0,.80026-.2505l.96053-1.6913a6.08305,6.08305,0,0,1-.93587.52959,4.22438,4.22438,0,0,1-.96445.29533,5.87153,5.87153,0,0,1-1.07094.09471,4.09332,4.09332,0,0,1-1.83925-.394,2.86115,2.86115,0,0,1-1.23121-1.141,3.8332,3.8332,0,0,1-.48419-1.77312h6.52591ZM92.88755,26.847a3.79289,3.79289,0,0,0,.36146.81707,2.28892,2.28892,0,0,0,.49651.56209,5.63786,5.63786,0,0,0,.858.55032l3.54624-8.65264h-2.389a1.98225,1.98225,0,0,1,.47242.39844.6736.6736,0,0,1,.13506.42255,1.32864,1.32864,0,0,1-.04091.353,6.27411,6.27411,0,0,1-.22977.59123l-1.73221,4.44905-1.89641-5.31095a2.75514,2.75514,0,0,1-.18885-.6568c0-.03306.0056-.11488.01681-.24657H89.965a1.66912,1.66912,0,0,1,.39.353.62191.62191,0,0,1,.111.36931,3.10984,3.10984,0,0,1-.25443,1.04291l-1.71595,4.44905-1.99448-5.31095a4.17464,4.17464,0,0,1-.32-1.17405,1.44357,1.44357,0,0,1-.45168.22584,3.119,3.119,0,0,1-.64054.04484H84.04661a2.40568,2.40568,0,0,1,.55816.59963,8.47494,8.47494,0,0,1,.501,1.16564L87.00162,26.847a4.32266,4.32266,0,0,0,.38612.81707,2.17141,2.17141,0,0,0,.54584.56657,6.20946,6.20946,0,0,0,.93194.54584L91.287,22.47189ZM80.90274,21.4951a2.79443,2.79443,0,0,1,1.0261,1.17349,3.9568,3.9568,0,0,1,.36539,1.74062,3.25611,3.25611,0,0,1-.34914,1.53494,2.53767,2.53767,0,0,1-.9807,1.03451,2.78118,2.78118,0,0,1-1.42847.36931,2.62828,2.62828,0,0,1-1.12081-.2421,2.77636,2.77636,0,0,1-.92355-.70219,3.20762,3.20762,0,0,1-.61532-1.07541,3.90369,3.90369,0,0,1-.21352-1.28837,3.38908,3.38908,0,0,1,.34073-1.53551,2.52348,2.52348,0,0,1,.95605-1.05468,2.67149,2.67149,0,0,1,1.41222-.37323,2.79947,2.79947,0,0,1,1.531.41862M78.4605,19.99266a4.687,4.687,0,0,0-1.94573.87031,4.2752,4.2752,0,0,0-1.2228,1.50637,4.29489,4.29489,0,0,0,.14347,4.06741A4.13944,4.13944,0,0,0,77.069,27.984a4.81979,4.81979,0,0,0,2.319.56265,4.98752,4.98752,0,0,0,2.39292-.58282,4.40982,4.40982,0,0,0,1.70756-1.58875,4.15039,4.15039,0,0,0,.6198-2.22032,4.25071,4.25071,0,0,0-.353-1.70363,4.07777,4.07777,0,0,0-1.0261-1.424,4.361,4.361,0,0,0-3.06989-1.14155,6.21489,6.21489,0,0,0-1.19871.107m-9.93092-2.29037a1.56093,1.56093,0,0,1,.22584-.6652,1.32254,1.32254,0,0,1,.50044-.41022H65.89063a1.39552,1.39552,0,0,1,.50044.4147,1.52184,1.52184,0,0,1,.23425.66464,8.7857,8.7857,0,0,1,.06109,1.18638v7.1502a8.78563,8.78563,0,0,1-.06109,1.18637,1.52184,1.52184,0,0,1-.23425.66464,1.39542,1.39542,0,0,1-.50044.4147H73.1389l.94428-2.35594a6.32015,6.32015,0,0,1-1.568.85742,5.1766,5.1766,0,0,1-1.65823.23425,16.562,16.562,0,0,1-2.389-.18045V18.89259a8.86108,8.86108,0,0,1,.06165-1.1903' transform='translate(-7.93177 -4.23325)'/%3E%3Cpath class='cls-1' d='M164.63813,10.79525h.75653l.45394-1.30294h2.2192l.43711,1.30294h.81538l-1.85774-5.23586h-.88263Zm1.42062-1.91547.5548-1.58874c.13449-.37827.29421-.849.36145-1.1096h.01681c.05044.23537.19334.65567.311,1.01713l.56319,1.68121Zm-6.43849,1.91547H160.3V7.33251c0-.2774-.01681-.47915-.01681-.70611H160.3c.12607.25218.27739.538.43766.79857l2.11049,3.37028h.79746V5.55939h-.67978V9.02213c0,.2774.0084.5038.01682.73917h-.02523a7.0332,7.0332,0,0,0-.44551-.82323l-2.111-3.37868h-.78065Zm-3.632-.55368c-1.06757,0-1.53887-.84117-1.53887-2.06,0-1.21944.4713-2.06845,1.53887-2.06845,1.06811,0,1.54727.84061,1.54727,2.06005,0,1.21887-.47916,2.06845-1.54727,2.06845m0,.62093c1.61451,0,2.34472-1.2682,2.34472-2.68938,0-1.49684-.73021-2.681-2.34472-2.681-1.614,0-2.34475,1.2682-2.34475,2.68938,0,1.49684.73078,2.681,2.34475,2.681M149.44,10.79525h3.48011v-.62093h-2.60588l2.53863-3.97719V5.55939h-3.312v.62093h2.47139L149.44,10.19113Zm-1.95749,0h.747V5.55939h-.747ZM143.33715,7.9383V6.14669h.82436c.67249,0,.98407.30262.98407.9,0,.53855-.3284.8916-.98407.8916Zm2.79923,2.90738a1.19346,1.19346,0,0,0,.30261-.03362v-.5873a1.51054,1.51054,0,0,1-.18493.01681.50312.50312,0,0,1-.45393-.2774l-1.05019-1.55624a1.44149,1.44149,0,0,0-.4203-2.84854h-1.7395v5.23586h.747V8.48358h.65624l1.17741,1.7989a1.05187,1.05187,0,0,0,.96558.5632m-9.20408-.05043h.75654l.45394-1.30294H140.362l.43712,1.30294h.81539l-1.85775-5.23586h-.88263Zm1.42062-1.91547.5548-1.58874c.1345-.37827.29421-.849.36147-1.1096h.01681c.05043.23537.19334.65567.311,1.01713l.56321,1.68121Zm-6.96806,1.91547h.747V8.30705h1.967v-.5873h-1.967V6.18032h2.18558V5.55939h-2.93259Zm-3.61517-.55368c-1.06757,0-1.53831-.84117-1.53831-2.06,0-1.21944.47074-2.06845,1.53831-2.06845,1.06813,0,1.54727.84061,1.54727,2.06005,0,1.21887-.47914,2.06845-1.54727,2.06845m0,.62093c1.61452,0,2.34529-1.2682,2.34529-2.68938,0-1.49684-.73077-2.681-2.34529-2.681-1.614,0-2.34473,1.2682-2.34473,2.68938,0,1.49684.73077,2.681,2.34473,2.681m-7.42984-.06725h.747V8.74473l1.72325-3.17693h-.78176l-1.26876,2.50444L119.45721,5.5678h-.81538l1.698,3.17693Zm-4.203,0h.747V6.18032h1.5131V5.55939h-3.706v.62093h1.44585Zm-3.14387,0h.747V5.55939h-.747Zm-2.97631.06725a1.52033,1.52033,0,0,0,1.71484-1.48732c0-1.00032-.73077-1.31975-1.38644-1.60555-.64783-.28581-.98407-.42031-.98407-.90842,0-.47915.32784-.75655.942-.75655a2.86417,2.86417,0,0,1,1.18469.269V5.71854a3.94081,3.94081,0,0,0-1.21832-.2264c-.97566,0-1.656.46121-1.656,1.37748A1.49411,1.49411,0,0,0,109.714,8.316c.76552.353,1.22785.48755,1.22785,1.09279,0,.57217-.40349.84116-1.05132.84116a3.49274,3.49274,0,0,1-1.31078-.31943v.66352a3.71693,3.71693,0,0,0,1.43687.26844m-5.2622-2.9242V6.14669h.82436c.67249,0,.98407.30262.98407.9,0,.53855-.3284.8916-.98407.8916Zm2.79923,2.90738a1.19346,1.19346,0,0,0,.30261-.03362v-.5873a1.51072,1.51072,0,0,1-.18493.01681.50312.50312,0,0,1-.45393-.2774l-1.0502-1.55624a1.44149,1.44149,0,0,0-.4203-2.84854h-1.73949v5.23586h.747V8.48358h.65568l1.178,1.7989a1.05187,1.05187,0,0,0,.96558.5632M99.838,10.79525h2.86534v-.62093H100.585V8.29865h1.80731V7.70294H100.585V6.18032h2.11833V5.55939H99.838Zm-3.60677,0h.807l1.86615-5.23586h-.75655L97.02983,8.854c-.1345.38668-.29421.94932-.36146,1.20991h-.01681c-.05884-.26059-.21856-.81483-.34465-1.20991L95.22253,5.55939h-.8238Zm-3.54679,0h.747V5.55939h-.747Zm-5.64047,0h.67977V7.33251c0-.2774-.01681-.47915-.01681-.70611h.01681c.12609.25218.278.538.43768.79857l2.11047,3.37028h.79746V5.55939H90.3896V9.02213c0,.2774.00841.5038.01681.73917H90.3812a7.03474,7.03474,0,0,0-.44552-.82323L87.82463,5.55939H87.044Zm-3.49748.06725a1.765,1.765,0,0,0,1.9502-1.88184V5.55939h-.70555v3.3288c0,.849-.40349,1.35338-1.24465,1.35338-.84061,0-1.22729-.50436-1.22729-1.35338V5.55939h-.74758V8.98066a1.78808,1.78808,0,0,0,1.97487,1.88184m-8.14436-.06725H78.2675v-.62093H76.14917V8.29865h1.80731V7.70294H76.14917V6.18032H78.2675V5.55939H75.40215Zm-5.62366,0h.747V8.36589h2.565v2.42936h.747V5.55939h-.747v2.2108h-2.565V5.55939h-.747Zm-3.17749,0h.747V6.18032h1.51309V5.55939h-3.706v.62093H66.601Z' transform='translate(-7.93177 -4.23325)'/%3E%3C/svg%3E");
}